<table xmlns:c="https://www.thymeleaf.org/">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Nationality</th>
        <th>Gender</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <c:forEach var="actor" items="${actors}">
        <tr>
            <td>${actor.name}</td>
            <td>${actor.age}</td>
            <td>${actor.nationality}</td>
            <td>${actor.gender}</td>
            <td><img src="${actor.image}" /></td>
            <td>
                <a href="/actors/${actor.id}/edit" class="btn btn-sm btn-primary">Edit</a>
                <a href="/actors/${actor.id}/delete" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    </c:forEach>
    </tbody>
</table>